.accordion-custom {
  .p-accordion-tab {
    margin-bottom: 0px;

    .p-accordion-header-link {
      border-radius: 0px;
    }
    .p-accordion-content {
      border-radius: 0px;
      padding: 0px;
    }
  }
}
